.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  box-sizing: border-box;
}

.page__link {
  transition: opacity 0.4s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.page__link:hover {
  opacity: 0.6;
}
