.feynman {
  min-height: 790px;
  padding-top: 80px;
  position: relative;
  /* box-sizing: border-box; */
  background: #f2f2f2 url('../../images/feynman.png') bottom left / 867px 637px
    no-repeat;
}
